* {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
}

body {
  width: 1920px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F2F2F2;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-left: 35px;
  position: relative;
  padding-top: 70px;
  z-index: 5;
}

.title::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 10px;
  background: #000000;
  bottom: -40px;
  left: -35px;
  z-index: 5;
}

.header {
  background-image: url("../img/bgHeader.png");
  background-position: center;
  min-height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header h1 {
  font-weight: 300;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #F2F2F2;
  margin-top: 280px;
}
.header_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}
.header_btns div {
  width: 348px;
  background: rgba(17, 17, 17, 0.6);
  border: 1px solid #C4C4C4;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding: 24px 0 25px 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.header_btns div:hover {
  background: rgba(17, 17, 17, 0.9);
}
.header_btns div:nth-of-type(1) {
  margin-right: 25px;
}
.header_btns div:nth-of-type(2) {
  margin-left: 25px;
}
.header_logo {
  position: relative;
  width: 100%;
  z-index: 3;
  text-align: center;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}
.header_logo::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-right: 12px solid #FAFF09;
  border-top: 12px solid #FAFF09;
  -webkit-transform: translate(86px, -10px);
          transform: translate(86px, -10px);
  z-index: 3;
}

.nav {
  background: rgba(0, 0, 0, 0.4);
  padding: 36px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__menu {
  cursor: pointer;
}
.nav__menu span {
  display: block;
  height: 4px;
  background: #BDBDBD;
}
.nav__menu span:nth-of-type(2) {
  width: 20px;
  margin: 10px 0 10px 0;
}
.nav__menu span:nth-of-type(1) {
  width: 36px;
}

.descptn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 20px;
  padding: 50px;
  background: #F2F2F2;
}
.descptn div {
  position: relative;
}
.descptn div::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #0E0E0E;
  top: 75px;
  left: 3px;
}
.descptn h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #0E0E0E;
}
.descptn div p:nth-of-type(1) {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #0E0E0E;
  padding-left: 30px;
}
.descptn div p:nth-of-type(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-top: 15px;
  padding-left: 30px;
  color: #0E0E0E;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  border-bottom: 1px solid #E0E0E0;
}
.price_calc {
  padding-right: 135px;
}
.price_calc-btn {
  width: 510px;
  background: #000000;
  border: 1px solid #000000;
  padding: 25px 0 25px 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 160px;
}
.price_calc p:nth-of-type(1) {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.price_calc p:nth-of-type(2) {
  font-weight: 300;
  font-size: 36px;
  line-height: 53px;
  color: #333333;
  margin-top: 57px;
}
.price_bonus p {
  font-weight: 400;
  font-size: 36px;
  line-height: 147.19%;
  color: #000000;
  margin-top: 25px;
  padding-left: 50px;
}
.price_bonus {
  position: relative;
}
.price_bonus-img {
  position: absolute;
  top: 10px;
  right: 70px;
}
.price_bonus:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 647px;
  bottom: 0;
  left: 0;
  background: #E0E0E0;
}
.price_bonus::before {
  position: absolute;
  content: "";
  width: 762px;
  height: 1px;
  bottom: 150px;
  left: -77px;
  background: #E0E0E0;
}
.price_bonus div {
  position: relative;
  font-weight: 300;
  font-size: 36px;
  line-height: 147.19%;
  color: #333333;
  padding-left: 85px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.price_bonus div:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #0E0E0E;
  top: 20px;
  left: 55px;
}

.service__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  width: 1748px;
  margin: 0 auto;
  -webkit-transform: translateY(-226px);
          transform: translateY(-226px);
}
.service__card-item {
  border: 1px solid #E0E0E0;
  border-bottom: none;
  padding-top: 200px;
}
.service__card-item h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-top: 74px;
  color: #0E0E0E;
  position: relative;
  padding: 5px;
}
.service__card-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 147.19%;
  color: #4F4F4F;
  margin-top: 20px;
  padding: 5px;
  padding-bottom: 50px;
}

.project::before {
  content: "";
  position: absolute;
  width: 1174px;
  height: 95%;
  background: #F5F5F5;
  top: 5%;
  right: 0;
  z-index: 0;
}

.line1 {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 670px;
  background: #E0E0E0;
}

.line2 {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 1248px;
  background: #E0E0E0;
}

.project {
  border-top: 1px solid #E0E0E0;
  margin-top: -226px;
  padding-bottom: 50px;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
}
.project__more {
  width: 273px;
  background: #000000;
  border: 1px solid #000000;
  color: #F2F2F2;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 19px 0 22px 0;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.project__more:hover {
  background: #535353;
  border: 1px solid #000000;
}
.project__more img {
  -webkit-transform: translate(-10px, 4px);
          transform: translate(-10px, 4px);
}
.project__list::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 715px;
  left: 0;
  background: #E0E0E0;
}
.project__list {
  padding-top: 59px;
  display: grid;
  grid-template-columns: repeat(3, 576px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.project__list-item {
  padding-bottom: 40px;
  cursor: pointer;
}
.project__list-item p:nth-of-type(1) {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding: 6px 0;
}
.project__list-item p:nth-of-type(2) {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  padding: 6px 0;
}
.project__list-item span {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 6px 0;
}/*# sourceMappingURL=style.css.map */