* {
    margin: 0;
    font-family: 'Roboto';
    font-style: normal;

}

body {
    width: 1920px;
    margin: 0 auto;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #F2F2F2;
}

.title {
    font-weight: 300;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-left: 35px;
    position: relative;
    padding-top: 70px;
    z-index: 5;
}

.title::before {
    content: "";
    position: absolute;
    width: 200px;
    height: 10px;
    background: #000000;
    bottom: -40px;
    left: -35px;
    z-index: 5;
}

//Header

.header {
    background-image: url('../img/bgHeader.png');
    background-position: center;
    min-height: 1080px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    h1 {
        font-weight: 300;
        font-size: 80px;
        line-height: 94px;
        text-align: center;
        color: #F2F2F2;
        margin-top: 280px;
    }

    &_btns {
        display: flex;
        justify-content: center;
        margin-top: 200px;

        div {
            width: 348px;
            background: rgba(17, 17, 17, 0.6);
            border: 1px solid #C4C4C4;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            padding: 24px 0 25px 0;
            transition: all 1s ease;
            cursor: pointer;
        }

        div:hover {
            background: rgba(17, 17, 17, 0.9);
        }
    }

    &_btns div:nth-of-type(1) {
        margin-right: 25px;
    }

    &_btns div:nth-of-type(2) {
        margin-left: 25px;
    }

    &_logo {
        position: relative;
        width: 100%;
        z-index: 3;
        text-align: center;
        transform: translateY(-45px);
    }

    &_logo::before {
        position: absolute;
        content: "";
        width: 18px;
        height: 18px;
        border-right: 12px solid #FAFF09;
        border-top: 12px solid #FAFF09;
        transform: translate(86px, -10px);
        z-index: 3;
    }
}

.nav {
    background: rgba(0, 0, 0, 0.4);
    padding: 36px 100px;
    display: flex;
    justify-content: space-between;

    &__menu {
        cursor: pointer;
    }

    &__menu span {
        display: block;
        height: 4px;
        background: #BDBDBD;
    }

    &__menu span:nth-of-type(2) {
        width: 20px;
        margin: 10px 0 10px 0;
    }

    &__menu span:nth-of-type(1) {
        width: 36px;
    }
}

//Section 2

.descptn {
    display: flex;
    justify-content: space-between;
    margin: 25px 20px;
    padding: 50px;
    background: #F2F2F2;

    div {
        position: relative;
    }

    div::before {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        background: #0E0E0E;
        top: 75px;
        left: 3px;
    }

    h2 {
        font-weight: 400;
        font-size: 64px;
        line-height: 75px;
        color: #0E0E0E;
    }

    div p:nth-of-type(1) {
        font-weight: 400;
        font-size: 28px;
        line-height: 33px;
        color: #0E0E0E;
        padding-left: 30px;
    }

    div p:nth-of-type(2) {
        font-weight: 300;
        font-size: 18px;
        line-height: 21px;
        padding-top: 15px;
        padding-left: 30px;
        color: #0E0E0E;
    }
}

//Price

.price {
    display: flex;
    justify-content: center;
    padding-top: 70px;
    border-bottom: 1px solid #E0E0E0;

    &_calc {
        padding-right: 135px;

        &-btn {
            width: 510px;
            background: #000000;
            border: 1px solid #000000;
            padding: 25px 0 25px 0;
            font-weight: 300;
            font-size: 36px;
            line-height: 42px;
            text-align: center;
            cursor: pointer;
            color: #FFFFFF;
            margin-top: 160px;
        }
    }

    &_calc p:nth-of-type(1) {
        font-weight: 400;
        font-size: 48px;
        line-height: 56px;
        color: #000000;
    }

    &_calc p:nth-of-type(2) {
        font-weight: 300;
        font-size: 36px;
        line-height: 53px;
        color: #333333;
        margin-top: 57px;
    }

    &_bonus p {
        font-weight: 400;
        font-size: 36px;
        line-height: 147.19%;
        color: #000000;
        margin-top: 25px;
        padding-left: 50px;
    }

    &_bonus {
        position: relative;

        &-img {
            position: absolute;
            top: 10px;
            right: 70px;
        }
    }

    &_bonus:after {
        position: absolute;
        content: "";
        width: 1px;
        height: 647px;
        bottom: 0;
        left: 0;
        background: #E0E0E0;

    }

    &_bonus::before {
        position: absolute;
        content: "";
        width: 762px;
        height: 1px;
        bottom: 150px;
        left: -77px;
        background: #E0E0E0;
    }

    &_bonus div {
        position: relative;
        font-weight: 300;
        font-size: 36px;
        line-height: 147.19%;
        color: #333333;
        padding-left: 85px;
        margin-top: 5px;
        margin-bottom: 10px;
        padding-bottom: 20px;
    }

    &_bonus div:before {
        position: absolute;
        content: "";
        width: 20px;
        height: 20px;
        background: #0E0E0E;
        top: 20px;
        left: 55px;
    }
}

//section3

.service {
    &__card {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding-top: 100px;
        width: 1748px;
        margin: 0 auto;
        transform: translateY(-226px);

        &-item {
            border: 1px solid #E0E0E0;
            border-bottom: none;
            padding-top: 200px;
        }


        &-item h3 {
            font-weight: 500;
            font-size: 48px;
            line-height: 56px;
            margin-top: 74px;
            color: #0E0E0E;
            position: relative;
            padding: 5px;

        }

        &-item p {
            font-weight: 400;
            font-size: 18px;
            line-height: 147.19%;
            color: #4F4F4F;
            margin-top: 20px;
            padding: 5px;
            padding-bottom: 50px;
        }
    }
}

//projects

.project::before {
    content: "";
    position: absolute;
    width: 1174px;
    height: 95%;
    background: #F5F5F5;
    top: 5%;
    right: 0;
    z-index: 0;
}

.line1 {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 670px;
    background: #E0E0E0;
}

.line2 {
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 1248px;
    background: #E0E0E0;
}

.project {
    border-top: 1px solid #E0E0E0;
    margin-top: -226px;
    padding-bottom: 50px;
    position: relative;
    border-bottom: 1px solid #E0E0E0;

    &__more {
        width: 273px;
        background: #000000;
        border: 1px solid #000000;
        color: #F2F2F2;
        font-weight: 300;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        padding: 19px 0 22px 0;
        cursor: pointer;
        margin: 0 auto;
        position: relative;
        z-index: 20;
        transition: all 1s ease;
    }

    &__more:hover {
        background: #535353;
        border: 1px solid #000000;
    }

    &__more img {
        transform: translate(-10px, 4px);
    }

    &__list::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 1px;
        top: 715px;
        left: 0;
        background: #E0E0E0;
    }

    &__list {
        padding-top: 59px;
        display: grid;
        grid-template-columns: repeat(3, 576px);
        justify-content: center;
        position: relative;

        &-item {
            padding-bottom: 40px;
            cursor: pointer;
        }

        &-img {
            width: 576px;
            height: 657px;
            position: relative;
        }

        &-img:hover:after {
            content: "";
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            background-image: linear-gradient(rgba(0, 0, 0, 0.8));
            opacity: 0.9;
        }

        &-img:hover::before {
            content: "Смотреть";
            display: block;
            margin: 200px 100px;
            width: 314px;
            padding: 25px;
            position: absolute;
            top: 20px;
            left: 0;
            border: 1px solid #FFFFFF;
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            text-align: center;
            color: #FFFFFF;
            z-index: 6;

        }

        &-item p:nth-of-type(1) {
            font-weight: 400;
            font-size: 28px;
            line-height: 33px;
            color: #000000;
            padding: 6px 0;
        }

        &-item p:nth-of-type(2) {
            font-weight: 300;
            font-size: 24px;
            line-height: 28px;
            color: #4F4F4F;
            padding: 6px 0;
        }

        &-item span {
            font-weight: 300;
            font-size: 18px;
            line-height: 21px;
            color: #333333;
            padding: 6px 0;
        }
    }
}

// block request
.dashed {
    width: 100%;
    border-top: 1px dashed black;
    position: absolute;
    top: 632px;
    left: 0;
}

.dashed-left {
    height: 87px;
    border-right: 1px dashed black;
    position: absolute;
    top: 591px;
    left: 337px;
}

.dashed-centr {
    height: 87px;
    border-right: 1px dashed black;
    position: absolute;
    top: 591px;
    left: 996px;
}

.dashed-right {
    height: 87px;
    border-right: 1px dashed black;
    position: absolute;
    top: 591px;
    right: 297px;
}

.request {
    position: relative;
    border-bottom: 1px solid #BDBDBD;
    padding-bottom: 45px;


    &__list {
        display: grid;
        grid-template-columns: repeat(3, 500px);
        column-gap: 163px;
        margin-left: 201px;
        justify-content: center;

        &-count {
            font-weight: 500;
            font-size: 64px;
            line-height: 146.69%;
            color: #000000;
            transform: translate(-73px, 74px);
            position: absolute;
        }

        &-item {
            padding: 25px;
            margin-top: 55px;
            position: relative;
        }

        &-title {
            font-weight: 700;
            font-size: 32px;
            line-height: 38px;
            color: #000000;
            margin-top: 20px;
            position: relative;
            z-index: 2;

        }

        &-title::before {
            content: "";
            width: 163px;
            height: 52px;
            background-color: #FAFF09;
            position: absolute;
            top: -6px;
            left: -5px;
            z-index: -1;
        }

        &-txt {
            font-weight: 400;
            font-size: 28px;
            line-height: 147.69%;
            color: #4F4F4F;
            padding-top: 25px;
        }

        &-send {
            margin-top: 20px;
        }

        &-send p {
            text-decoration: underline;
            display: inline;
            width: 100px;
            padding-left: 7px;
            cursor: pointer;
        }

        &-send img {
            background: #FAFF09;
            padding: 5px;
            border-radius: 15px;
            transform: translate(0px, 6px);
        }
    }

    &-btn {
        width: 510px;
        padding: 33px 0 25px 63px;
        border: 1px solid #000000;
        font-weight: 300;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
        margin-left: 170px;
        cursor: pointer;
        position: relative;
    }

    &-btn::after {
        content: "";
        width: 116px;
        height: 2px;
        background: #000000;
        position: absolute;
        top: 57px;
        right: 236px;
    }

    &-btn::before {
        content: "";
        width: 11px;
        height: 11px;
        border-right: 2px solid #000000;
        border-top: 2px solid #000000;
        top: 52px;
        right: 237px;
        position: absolute;
        transform: rotate(45deg);
    }
}

// about
.about {
    margin-top: 25px;
    height: 787px;
    background-image: url('../img/bgAbout.svg');

    h2 {
        font-weight: 300;
        font-size: 48px;
        line-height: 146.69%;
        color: #FFFFFF;
        margin-left: 600px;
        padding-top: 230px;
        padding-bottom: 100px;
    }

    &_point {
        font-weight: 300;
        font-size: 36px;
        line-height: 146.69%;
        color: #FFFFFF;
        width: 789px;
        margin-left: 630px;
        position: relative;
        padding-bottom: 15px;
    }

    &_point::before {
        content: "";
        width: 20px;
        height: 20px;
        background: #FFFFFF;
        top: 1px;
        left: -40px;
        position: absolute;
    }
}

.instagram {
    margin-top: 85px;
    padding-bottom: 35px;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 25px;

    &-logo {
        margin-left: 100px;
        margin-bottom: 20px;
    }

    &-img {
        display: grid;
        grid-template-columns: repeat(4, 417px);
        justify-content: center;
        gap: 17px;
    }
}