@charset "UTF-8";
* {
  margin: 0;
  font-family: "Roboto";
  font-style: normal;
}

body {
  width: 1920px;
  margin: 0 auto;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #F2F2F2;
}

.title {
  font-weight: 300;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
  margin-left: 35px;
  position: relative;
  padding-top: 70px;
  z-index: 5;
}

.title::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 10px;
  background: #000000;
  bottom: -40px;
  left: -35px;
  z-index: 5;
}

.header {
  background-image: url("../img/bgHeader.png");
  background-position: center;
  min-height: 1080px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.header h1 {
  font-weight: 300;
  font-size: 80px;
  line-height: 94px;
  text-align: center;
  color: #F2F2F2;
  margin-top: 280px;
}
.header_btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 200px;
}
.header_btns div {
  width: 348px;
  background: rgba(17, 17, 17, 0.6);
  border: 1px solid #C4C4C4;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  padding: 24px 0 25px 0;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  cursor: pointer;
}
.header_btns div:hover {
  background: rgba(17, 17, 17, 0.9);
}
.header_btns div:nth-of-type(1) {
  margin-right: 25px;
}
.header_btns div:nth-of-type(2) {
  margin-left: 25px;
}
.header_logo {
  position: relative;
  width: 100%;
  z-index: 3;
  text-align: center;
  -webkit-transform: translateY(-45px);
          transform: translateY(-45px);
}
.header_logo::before {
  position: absolute;
  content: "";
  width: 18px;
  height: 18px;
  border-right: 12px solid #FAFF09;
  border-top: 12px solid #FAFF09;
  -webkit-transform: translate(86px, -10px);
          transform: translate(86px, -10px);
  z-index: 3;
}

.nav {
  background: rgba(0, 0, 0, 0.4);
  padding: 36px 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.nav__menu {
  cursor: pointer;
}
.nav__menu span {
  display: block;
  height: 4px;
  background: #BDBDBD;
}
.nav__menu span:nth-of-type(2) {
  width: 20px;
  margin: 10px 0 10px 0;
}
.nav__menu span:nth-of-type(1) {
  width: 36px;
}

.descptn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 25px 20px;
  padding: 50px;
  background: #F2F2F2;
}
.descptn div {
  position: relative;
}
.descptn div::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  background: #0E0E0E;
  top: 75px;
  left: 3px;
}
.descptn h2 {
  font-weight: 400;
  font-size: 64px;
  line-height: 75px;
  color: #0E0E0E;
}
.descptn div p:nth-of-type(1) {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #0E0E0E;
  padding-left: 30px;
}
.descptn div p:nth-of-type(2) {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  padding-top: 15px;
  padding-left: 30px;
  color: #0E0E0E;
}

.price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 70px;
  border-bottom: 1px solid #E0E0E0;
}
.price_calc {
  padding-right: 135px;
}
.price_calc-btn {
  width: 510px;
  background: #000000;
  border: 1px solid #000000;
  padding: 25px 0 25px 0;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  cursor: pointer;
  color: #FFFFFF;
  margin-top: 160px;
}
.price_calc p:nth-of-type(1) {
  font-weight: 400;
  font-size: 48px;
  line-height: 56px;
  color: #000000;
}
.price_calc p:nth-of-type(2) {
  font-weight: 300;
  font-size: 36px;
  line-height: 53px;
  color: #333333;
  margin-top: 57px;
}
.price_bonus p {
  font-weight: 400;
  font-size: 36px;
  line-height: 147.19%;
  color: #000000;
  margin-top: 25px;
  padding-left: 50px;
}
.price_bonus {
  position: relative;
}
.price_bonus-img {
  position: absolute;
  top: 10px;
  right: 70px;
}
.price_bonus:after {
  position: absolute;
  content: "";
  width: 1px;
  height: 647px;
  bottom: 0;
  left: 0;
  background: #E0E0E0;
}
.price_bonus::before {
  position: absolute;
  content: "";
  width: 762px;
  height: 1px;
  bottom: 150px;
  left: -77px;
  background: #E0E0E0;
}
.price_bonus div {
  position: relative;
  font-weight: 300;
  font-size: 36px;
  line-height: 147.19%;
  color: #333333;
  padding-left: 85px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding-bottom: 20px;
}
.price_bonus div:before {
  position: absolute;
  content: "";
  width: 20px;
  height: 20px;
  background: #0E0E0E;
  top: 20px;
  left: 55px;
}

.service__card {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding-top: 100px;
  width: 1748px;
  margin: 0 auto;
  -webkit-transform: translateY(-226px);
          transform: translateY(-226px);
}
.service__card-item {
  border: 1px solid #E0E0E0;
  border-bottom: none;
  padding-top: 200px;
}
.service__card-item h3 {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  margin-top: 74px;
  color: #0E0E0E;
  position: relative;
  padding: 5px;
}
.service__card-item p {
  font-weight: 400;
  font-size: 18px;
  line-height: 147.19%;
  color: #4F4F4F;
  margin-top: 20px;
  padding: 5px;
  padding-bottom: 50px;
}

.project::before {
  content: "";
  position: absolute;
  width: 1174px;
  height: 95%;
  background: #F5F5F5;
  top: 5%;
  right: 0;
  z-index: 0;
}

.line1 {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 670px;
  background: #E0E0E0;
}

.line2 {
  position: absolute;
  height: 100%;
  width: 1px;
  top: 0;
  left: 1248px;
  background: #E0E0E0;
}

.project {
  border-top: 1px solid #E0E0E0;
  margin-top: -226px;
  padding-bottom: 50px;
  position: relative;
  border-bottom: 1px solid #E0E0E0;
}
.project__more {
  width: 273px;
  background: #000000;
  border: 1px solid #000000;
  color: #F2F2F2;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  padding: 19px 0 22px 0;
  cursor: pointer;
  margin: 0 auto;
  position: relative;
  z-index: 20;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.project__more:hover {
  background: #535353;
  border: 1px solid #000000;
}
.project__more img {
  -webkit-transform: translate(-10px, 4px);
          transform: translate(-10px, 4px);
}
.project__list::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 1px;
  top: 715px;
  left: 0;
  background: #E0E0E0;
}
.project__list {
  padding-top: 59px;
  display: grid;
  grid-template-columns: repeat(3, 576px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}
.project__list-item {
  padding-bottom: 40px;
  cursor: pointer;
}
.project__list-img {
  width: 576px;
  height: 657px;
  position: relative;
}
.project__list-img:hover:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8)));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8));
  opacity: 0.9;
}
.project__list-img:hover::before {
  content: "Смотреть";
  display: block;
  margin: 200px 100px;
  width: 314px;
  padding: 25px;
  position: absolute;
  top: 20px;
  left: 0;
  border: 1px solid #FFFFFF;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #FFFFFF;
  z-index: 6;
}
.project__list-item p:nth-of-type(1) {
  font-weight: 400;
  font-size: 28px;
  line-height: 33px;
  color: #000000;
  padding: 6px 0;
}
.project__list-item p:nth-of-type(2) {
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  padding: 6px 0;
}
.project__list-item span {
  font-weight: 300;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  padding: 6px 0;
}

.dashed {
  width: 100%;
  border-top: 1px dashed black;
  position: absolute;
  top: 632px;
  left: 0;
}

.dashed-left {
  height: 87px;
  border-right: 1px dashed black;
  position: absolute;
  top: 591px;
  left: 337px;
}

.dashed-centr {
  height: 87px;
  border-right: 1px dashed black;
  position: absolute;
  top: 591px;
  left: 996px;
}

.dashed-right {
  height: 87px;
  border-right: 1px dashed black;
  position: absolute;
  top: 591px;
  right: 297px;
}

.request {
  position: relative;
  border-bottom: 1px solid #BDBDBD;
  padding-bottom: 45px;
}
.request__list {
  display: grid;
  grid-template-columns: repeat(3, 500px);
  -webkit-column-gap: 163px;
     -moz-column-gap: 163px;
          column-gap: 163px;
  margin-left: 201px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.request__list-count {
  font-weight: 500;
  font-size: 64px;
  line-height: 146.69%;
  color: #000000;
  -webkit-transform: translate(-73px, 74px);
          transform: translate(-73px, 74px);
  position: absolute;
}
.request__list-item {
  padding: 25px;
  margin-top: 55px;
  position: relative;
}
.request__list-title {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #000000;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}
.request__list-title::before {
  content: "";
  width: 163px;
  height: 52px;
  background-color: #FAFF09;
  position: absolute;
  top: -6px;
  left: -5px;
  z-index: -1;
}
.request__list-txt {
  font-weight: 400;
  font-size: 28px;
  line-height: 147.69%;
  color: #4F4F4F;
  padding-top: 25px;
}
.request__list-send {
  margin-top: 20px;
}
.request__list-send p {
  text-decoration: underline;
  display: inline;
  width: 100px;
  padding-left: 7px;
  cursor: pointer;
}
.request__list-send img {
  background: #FAFF09;
  padding: 5px;
  border-radius: 15px;
  -webkit-transform: translate(0px, 6px);
          transform: translate(0px, 6px);
}
.request-btn {
  width: 510px;
  padding: 33px 0 25px 63px;
  border: 1px solid #000000;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  color: #000000;
  margin-left: 170px;
  cursor: pointer;
  position: relative;
}
.request-btn::after {
  content: "";
  width: 116px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 57px;
  right: 236px;
}
.request-btn::before {
  content: "";
  width: 11px;
  height: 11px;
  border-right: 2px solid #000000;
  border-top: 2px solid #000000;
  top: 52px;
  right: 237px;
  position: absolute;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.about {
  margin-top: 25px;
  height: 787px;
  background-image: url("../img/bgAbout.svg");
}
.about h2 {
  font-weight: 300;
  font-size: 48px;
  line-height: 146.69%;
  color: #FFFFFF;
  margin-left: 600px;
  padding-top: 230px;
  padding-bottom: 100px;
}
.about_point {
  font-weight: 300;
  font-size: 36px;
  line-height: 146.69%;
  color: #FFFFFF;
  width: 789px;
  margin-left: 630px;
  position: relative;
  padding-bottom: 15px;
}
.about_point::before {
  content: "";
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  top: 1px;
  left: -40px;
  position: absolute;
}

.instagram {
  margin-top: 85px;
  padding-bottom: 35px;
  border-bottom: 1px solid #BDBDBD;
  margin-bottom: 25px;
}
.instagram-logo {
  margin-left: 100px;
  margin-bottom: 20px;
}
.instagram-img {
  display: grid;
  grid-template-columns: repeat(4, 417px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 17px;
}

.katalog {
  padding-bottom: 45px;
}
.katalog_wrap {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-left: 37px;
  margin-top: 60px;
}
.katalog_wrap-btn {
  width: 100%;
  padding: 27px;
  font-weight: 300;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  color: #F2F2F2;
  background: #000000;
  border: 1px solid #000000;
  margin-top: 75px;
  cursor: pointer;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}
.katalog_wrap-btn:hover {
  background: #535353;
  border: 1px solid #535353;
}
.katalog_wrap-get {
  padding-left: 130px;
  padding-right: 100px;
}
.katalog_wrap-get p:nth-of-type(1) {
  font-weight: 900;
  font-size: 36px;
  line-height: 146.69%;
  color: #000000;
  margin-top: -20px;
}
.katalog_wrap-get p:nth-of-type(2) {
  font-weight: 300;
  font-size: 24px;
  line-height: 146.19%;
  color: #4F4F4F;
  margin-top: 35px;
}
.katalog_wrap-get span {
  font-weight: 300;
  font-size: 14px;
  line-height: 146.19%;
  color: #333333;
  margin-top: 15px;
}
.katalog_wrap-get span a {
  color: #333333;
  text-decoration: underline;
}

#email {
  width: 100%;
  padding: 27px;
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
  margin-top: 95px;
}

#email::-webkit-input-placeholder {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

#email::-moz-placeholder {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

#email:-ms-input-placeholder {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

#email::-ms-input-placeholder {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

#email::placeholder {
  font-weight: 100;
  font-size: 24px;
  line-height: 28px;
  color: #4F4F4F;
}

#checkbox {
  background: #333333;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 15px;
  height: 15px;
  margin-top: 15px;
  margin-right: 5px;
}

.footer {
  background-image: url("../img/bgFooter.png");
  background-repeat: no-repeat;
  background-position: left;
  height: 1053px;
  background-size: contain;
  margin-top: 65px;
  position: relative;
}
.footer-img {
  position: absolute;
  display: block;
  left: 871px;
  top: 0;
}
.footer_up {
  width: 200px;
  padding: 23px 0 23px 16px;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  text-align: left;
  border: 1px solid #000000;
  color: #000000;
  position: relative;
  -webkit-transform: translate(1750px, 85px) rotate(-90deg);
          transform: translate(1750px, 85px) rotate(-90deg);
}
.footer_up::after {
  content: "";
  width: 41px;
  height: 2px;
  background: #000000;
  position: absolute;
  top: 36px;
  right: 45px;
}
.footer_up::before {
  content: "";
  width: 15px;
  height: 15px;
  border-right: 2px solid #000000;
  border-bottom: 2px solid #000000;
  position: absolute;
  top: 29px;
  right: 46px;
  -webkit-transform: rotate(-48deg);
          transform: rotate(-48deg);
}
.footer_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 390px;
}
.footer_nav-logo {
  text-align: left;
  margin-left: 70px;
}
.footer_nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.footer_nav-link a:nth-of-type(1) img {
  background: #000000;
  padding: 9px 7px;
  border-radius: 5px;
}
.footer_nav-link a:nth-of-type(5) img {
  background: #000000;
  padding: 8px 10px;
  border-radius: 5px;
}
.footer_nav-link a {
  margin-left: 95px;
}
.footer_link {
  margin-left: 70px;
  margin-top: 20px;
}
.footer_link-items {
  display: grid;
  grid-template-columns: repeat(4, 270px);
}
.footer_link-items p {
  font-weight: 700;
  font-size: 24px;
  line-height: 146.19%;
  padding-bottom: 25px;
  color: #FAFF09;
}
.footer_link-items ul li {
  font-weight: 400;
  font-size: 18px;
  line-height: 146.19%;
  color: #F2F2F2;
  padding-bottom: 15px;
}/*# sourceMappingURL=style.css.map */